/* ==========================================================================
    DEFAULT THEME - DARK VERSION
    ========================================================================== */

/* Color codes used for the theme */
$primary-color              : #58a6ff;
$gray                       : #8b949e;
$dark-gray                  : mix(#000, $gray, 30%);
$darker-gray                : mix(#000, $gray, 50%);
$light-gray                 : mix(#fff, $gray, 15%);

$background                 : #0d1117;
$background-light           : mix(#fff, $background, 6%);
$background-lighter         : mix(#fff, $background, 12%);
$text                       : #e6edf3;
$link                       : #58a6ff;
$link-dark                  : mix(#000, $link, 15%);
$link-light                 : mix(#fff, $link, 15%);

/* Color codes used for the site */
$danger-color               : #da3633;
$info-color                 : #388bfd;
$notice-color               : #8b949e;
$success-color              : #30a14e;
$warning-color              : #d29922;

/* Other basic settings for the template */
$border-radius              : 6px;
$box-shadow                 : 0 1px 0 rgba(255, 255, 255, 0.1);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Dark theme for the site */
html[data-theme="dark"] {
    --global-base-color                 : #{$primary-color};
    --global-bg-color                   : #{$background};
    --global-footer-bg-color            : #{$background};
    --global-border-color               : #{$light-gray};
    --global-dark-border-color          : #{$background-light};
    --global-code-background-color      : #161b22;
    --global-code-text-color            : #c9d1d9;
    --global-fig-caption-color          : #{$light-gray};
    --global-link-color                 : #{$link};
    --global-link-color-hover           : #{$link-dark};
    --global-link-color-visited         : #{$link-light};
    --global-masthead-link-color        : #{$text};
    --global-masthead-link-color-hover  : #{$primary-color};
    --global-text-color                 : #{$text};
    --global-text-color-light           : #8b949e;
    --global-thead-color                : #{$background-lighter};
}

